body{
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

header {
    box-sizing: border-box;
    font-size: 1.2em;
}
main {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    gap: 22px;
}
aside {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
}
#container{
    border: 25px solid rgb(173, 14, 14);
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    box-sizing: border-box;
}